::placeholder { color: #666; }
::selection { background-color: rgba(0, 170, 180, .3); color: #000}
* {
    padding: 0;
    margin: 0;
}

/* Убирает стрелки вверх и вниз */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html,
body {
    height: 100%;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    box-shadow: 1em 1px 15px #d4d4d4;
}

.logo {
    height: 20px;
    cursor: pointer;
}

.nav_links {
    margin-bottom: 0;
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.btn_Auth {
    color: black;
    padding: 9px 25px;
    background-color: rgba(0, 135, 170, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease 0s;
}

.btn_Auth:hover {
    opacity: .8;
}

.pop, .reg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.pop.openAuth {
    display: block;
}

.pop_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_body {
    margin: auto;
    width: 500px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding: 60px 15px 60px 15px;
    position: relative;
}

.pop_Auth_p {
    margin: 10px;
    font-size: 28px;
    font-weight: 500;
    color: black;
}

.reg_Auth {
    margin: 10px auto;
    width: 330px;
    color: rgba(0, 0 , 0, .4);
}

.reg_Auth a {
    font-weight: 700;
    color: rgba(0, 0 , 0, .4);
}

.reg_Auth a:hover {
    color: rgba(0, 135, 170, 1);
}

.reg_Inp {
    display: flex;
}

.reg_Inp div {
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.pop_body input {
    display: block;
    margin: 0 auto 25px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #e3e3e3;
    border-radius: 15px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #333;
}

.pop_body button {
    display: block;
    width: 330px;
    margin: 0 auto;
    padding: 20px 0;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 15px;
    background-color: rgba(0, 135, 170, 1);
}

.pop_body label {
    color: red;
    text-align: left;
}

.pop_close {cursor: pointer; position: absolute; top: 20px; right: 35px;}
.pop_close:before, .pop_close:after {content: ""; position: absolute; width: 24px; height: 4px;  background: gray;}
.pop_close:before {transform: rotate(45deg);}
.pop_close:after {transform: rotate(-45deg);}

.pop_body input:focus {
    outline: none;
}

.pop_Reg {
    width: 800px;
}

.btnReg {
    width: 100%;
}

.reg.openReg {
    display: block;
}

.catalog {
    display: flex;
    max-width: 1400px;
    margin: 30px auto;
}

.category {
    padding: 20px 35px;
    border: 1px solid rgba(220, 218, 218, 0.62);
}

.category ul {
    padding-top: 10px;
    padding-left: 0;
}

.category li {
    list-style: none;
    margin: 10px auto;
    font-weight: 400;
}

.catalog_all {
    margin: 0 auto;
}

.category_Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.catalog_Card {
    max-height: 400px;
    border: 1px solid rgba(0,0,0, .1);
    box-shadow: 1px 1px 10px #d4d4d4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
    margin: 0 12px 20px 12px;
    transition: transform .5s ease;
}

.catalog_Card img {
    object-fit: cover;
    height: 200px;
    width: 300px;
}

.catalog_Card:hover {
    transform: scale(1.05);
    filter: grayscale(0);
}

.card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_body h5 {
    margin: 10px;
    font-weight: 600;
    font-size: 20px;
}

.card_body p {
    font-weight: 400;
    font-size: 16px;
    margin: 10px;
}

.shop {
    margin: 0 auto;
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
}

.categorySort {

    display: flex;
}

.categorySort p {
    margin: 5px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorySort form {
    margin: 5px;
}

.section2 {
    padding-top: 20px;
}

.category ul li:hover {
    color: rgba(0, 135, 170, 1);
    cursor: pointer;
}

.agreement input {
    display: block;
    margin: 0 auto;
    width: 45px;
    height: 20px;
    background-color: #e3e3e3;
    border: none;
    color: #333;
}

.agreements {
    color: #333 !important;
}

.agreement {
    margin: 0 auto 25px auto;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile span {
    padding: 0 5px 0 5px;
}

.profile {
    border: 1px solid rgba(0,0,0, .2);
    color: black;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile:hover {
    transform: rotate(360deg);
}

.profile img {
    margin: 5px;
    border: 1px solid rgba(0,0,0, .4);
    border-radius: 10px;
    width: 30px;
    height: 30px;
}

.profiles {
    display: flex;
    max-width: 1400px;
    margin: 30px auto;
}

.profiles_groups {

    width: 400px;
    max-width: 400px;
}

.profiles_group1 {
    border-bottom: 1px solid rgba(3,3,3, .2);
    margin: 10px auto;
    display: flex;
}


.profiles_group1 img{
    margin: 0 10px 10px 10px;
    border: 1px solid rgba(0,0,0, .4);
    border-radius: 10px;
    width: 70px;
    height: 70px;
}

.profiles_body {
    margin: 0 10px 10px 10px;
    justify-content: center;
    align-items: flex-start;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.profiles_body_login {
    color: rgba(3,3,3, .4);
}

.profiles_menu  {

}

.profiles_menu ul {
    padding-left: 0;
}

.to-left {

    background-position: 0 50%;
    background-size: 0 100%;
}

.profiles_menu li {
    background-image: linear-gradient(rgba(0, 135, 170, .1), rgba(0, 135, 170, .1));
    background-repeat: no-repeat;
    transition: background-size .6s, color .6s;
    padding: 10px 0 10px 10px;
    margin-bottom: 5px;
    list-style: none;
}

.profiles_menu li:hover {
    background-size: 100% 100%;
}

.profiles_body_groupss {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
    max-width: 750px;
    height: 300px;
}

.profiles_body_groupss h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}



.profiles_body_groups {
    justify-content: space-evenly;
    max-width: 1000px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.profiles_body_group1 {
    margin: 10px;
    width: 250px;
}

.profiles_body_group1 h6 {
    color: rgba(3,3,3, .4);
    font-size: 20px;
}

.profiles_body_group1 p {
    color: rgba(3,3,3, 1);
    font-size: 18px;
}

.profiless {
    background-color: rgba(0, 170, 180, .3);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.profiles_btn {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
}

.exit {
    background-color: blueviolet;
}

.footer_Logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_Logo img {
    height: 20px;
}

footer {
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
}

.section3 {
    background-color: rgba(207, 209, 212, .3);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 160px;
}

.footer__Contact {
    width: 360px;
}

.footer_Neo {
    padding-left: 2rem;
}

.footer_Neo h4 {
    margin: 0 auto;
}

.footer_Contact li {
    list-style: none;
    margin: 5px 0;
}

.footer_Contact ul {
    padding-left: 0;
}

.section4 {
    width: 100%;
    padding-top: 20px;
}

.add__product {
    margin: 0 auto;
    max-width: 1400px;
}

.add__products input {
    display: block;
    margin: 25px;
    padding: 17px 20px;
    background-color: #e3e3e3;
    border-radius: 15px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #333;
}

#description {
    width: 600px;
}

#file-input {
    display: none;
}

.Photo_product {
    width: 350px;
    height: 250px;
    align-items: center;
    justify-content: center;
    border-radius:15px;
    display: flex;
}

.Photo_product img {
    overflow: hidden;
    width: 100%;
    margin: 10px;
    box-shadow: 3px 3px 10px gray;
    height: 100%;
    border-radius: 15px
}

.Photo_product p {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px
}

.Btn_add_product {
    display: block;
    width: 330px;
    margin: 0 auto;
    padding: 20px 0;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 15px;
    background-color: rgba(0, 135, 170, 1);
}

.add_photo_product {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
    margin: 0 auto;
}

.add_photo_product label {
    margin: 10px;
}
